
body, td, p, input, span, div, form {
font-family: arial, helvetica, sans-serif;
color: #000000;
//font-size: 10px;
}

input {
font-size: 15px;
}

.header {
font-size: 30px;
color: #cc0000;
font-weight: bold;
text-align: center;
font-family: georgia, serif;
}

a:link		{color: #666666 }
a:visited	{color: #999999; }
a:active	{color: #990000; }
a:hover		{color: #990000; }

.footer {
font-size: 10.5px;
color: #ffffff;
}

a.footer:link		{ color: #ffffff; }
a.footer:visited	{ color: #ffffff; }
a.footer:hover		{ color: #999999; }
a.footer:active		{ color: #999999; }

.navLeft {
font-size: 13px;
color: #ffffff;
}

a.navLeft:link		{ color: #ffffff; text-decoration: none; }
a.navLeft:visited	{ color: #ffffff; text-decoration: none; }
a.navLeft:hover		{ color: #999999; }
a.navLeft:active	{ color: #999999; }

.title {
font-size: 13px;
color: #ffffff;
font-weight: bold;
}

label, input{
font-size: 20px;
}
